# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
environment.yml
requirements.txt

obj_dir/*

*.npz

quantized_models/*

*.h5

*.mem

*.pdf

ILSVRC2012_val/*.JPEG


ILSVRC2012_devkit_t12/*

ILSVRC2012*

*.jpg
*.Identifier

rtl/mem/*.png

rtl/mem/*/*.png

.transparent-background/*

rtl/mem/*.npy

.cache/*
processed_frames/dog/*
processed_frames/dog/dog_mask.png

processed_frames/*

selected_frames/*
daisy.jpeg
rtl/mem/tile_mask_info.txt
